@charset "UTF-8";

div#backbody {
   font-size: 13pt;
   max-width: 1200px;
   width: 100%;
   padding: 50px 0;
   margin-left: auto;
    margin-right: auto;
}

#frame1{
   width: 1200px;
   margin: 40px auto;
   padding: 50px 50px;
   background-color: #fff;
}

#frame2{
   padding-bottom: 10px;
}

.home{
   float: right;
   font-size: 12pt;
}

table.calculation1 {
   clear: both;
   border: solid 1px white;
   border-collapse:collapse;
   background-color: white;
   width: 100%;
   font-size: 10pt;
}
table.calculation1 th {
   border: solid 1px white;
   border-top: solid 1px #e0e0eb;
   padding: 10px 0;
   text-align: center;
   background-color: white;
}

table.calculation1 td {
   border: solid 1px white;
   border-bottom: solid 1px #e0e0eb;
   text-align: center;
   padding: 10px 0; 

}

table.calculation2 {
   border: solid 1px #e0e0eb;
   border-collapse:collapse;
   background-color: #fafafa;
   width: 100%;
   font-size: 10pt;
}

table.calculation2 th {
   border: solid 1px #fafafa;
   text-align: center;
}

table.calculation2 td {
   border: solid 1px white;
   text-align: center;
   border-bottom: solid 1px #fafafa;
}

.price{
   font-size: 20pt;
   font-weight: bold;
}

.lifont {
   font-size: 10pt;
   color: gray;
}

.delivery{
   border: solid 1px #e0e0eb;
   border-collapse:collapse;
   width: 100%;
   font-size: 12pt;
}

table.delivery{
   clear: both;
   border: solid 1px #e0e0eb;
   border-collapse:collapse;
   background-color: white;
   width: 100%;
   font-size: 10pt;
}

table.delivery th{
   border: solid 1px white; 
   border-top: solid 1px #e0e0eb;
   padding: 12px 10px;
   background-color: white;
   text-align: left; 
   padding-left: 10px; 
   color: gray; 
   padding-top: 30px; 
   padding-bottom: 30px; 
   border-bottom: solid 1px white;
}

table.delivery td{
   border: solid 1px white;
   padding: 12px 10px;

}

.deliverytd{
   font-size: 10pt;
   background-color: white;
   border-bottom: solid 1px #e0e0eb;
   color: black;
   font-weight: bold;
}

.payArea{
   height: 218px;
   position: relative;
   padding: 0 350px 0 0;
   border: 1px solid #e0e0eb;
   color: #353535;
   line-height: 1.5;
   border-right: white;
   border-left: white;
}

.payment {
   border-right: solid 1px #e0e0eb;
   float: left;
   width: 100%;
   height: 100%;
   padding-left: 10px;
   
}

.total{
   float: right;
   width: 350px;
   height: 215px;
   margin: 0 -350px 0 0;
   text-align: left;
   background: #fafafa;
   font-size: 11pt;
   padding: 0px 0px 0px 0px;
   
}

.order .btn{
   border: none;
   color: white;
   padding: 5px 13px;
   margin-right: 10px;
   cursor: pointer;
   border-radius: 5px;
   font-weight: bolder;
}

.default{
   background-color: #fff !important;
   border: solid 1px #B7B8B9 !important;
   color: black;
}

.default:hover {
   background: #ddd;
}

.backBtn{
   background: #fff;
   border: solid 1px gray;
}

.btnfloat{
   float: left;
}

.btnfloat2{
   float: right;
}

.postBtn{
	cursor: pointer; 
	margin-bottom: 10px; 
	background-color: #fff; 
	font-size: 13px; 
	height: 29.5px;
}

.payBtn{
	width: 95%; 
	height: 40px; 
	margin-top: 2px; 
	margin-left: 9px; 
	font-size: 15pt;
}

.clearboth{
   clear: both;
}

input.underline {
   border: 0;
   border-bottom: solid 1px #e0e0eb;
}

.textarea{
   display: none;
   resize: none;
   width: 452px;
}

.result{
   display: inline-block; 
   text-align:center; 
   padding-top: 2px; 
   padding-bottom: 2px; 
   margin-left: -4px; 
   margin-right: -4px; 
   width: 30px;
}

.guideFrame{
	border: solid 1px #e0e0eb; 
	padding: 10px 0; 
	font-size: 12px; 
	background-color: #fafafa; 
	padding-left: 10px;
}

.guideDetail{
	border: solid 1px #e0e0eb; 
	height: 140px; 
	font-size: 12pt; 
	padding-left: 10px; 
	padding-top:20px;
}