<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderList-mapper"> 

   <select id="selectBrandOrderList">
         SELECT * FROM O_ORDER_LIST
         ORDER BY 
   </select>
   
   
</mapper>
