<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productList-mapper"> 
	
	<select id="selectBrandProductList" resultType="Product_m">
		SELECT *
		FROM PRODUCT
		WHERE PRODUCT_STATUS = 'Y'
			AND PRODUCT_TYPE = 1
			AND MEMBER_NO = #{ member_no }
		ORDER BY PRODUCT_NO ASC
	</select>
	
	<update id="deleteBrandProductList" parameterType="_int">
		UPDATE PRODUCT
		SET STATUS = 'N'
		WHERE PRODUCT_NO = #{ product_no }
	</update>
	
	<select id="selectProductList" resultType="Product_s">
		SELECT *
		FROM PRODUCT
		WHERE PRODUCT_STATUS = 'Y'
			AND PRODUCT_TYPE = 2
			AND MEMBER_NO = #{member_no}
		ORDER BY PRODUCT_NO DESC
	</select>

</mapper>