<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product-mapper">

	<select id="brandSelectList" parameterType="Product_p" resultType="Product_p">
		SELECT P.*, (SELECT COUNT(*)
					 FROM ATTACHMENT
					 WHERE PRODUCT_NO = P.PRODUCT_NO) FILECOUNT,
			  M.BRAND_NAME, A.ATT_NAME
		FROM PRODUCT P, MEMBER M, ATTACHMENT A
		WHERE P.MEMBER_NO = M.MEMBER_NO
           AND P.PRODUCT_NO = A.PRODUCT_NO
		   AND PRODUCT_TYPE = 1
           AND A.ATT_LEVEL = 1
           <if test="product_category != 0">
           		AND P.PRODUCT_CATEGORY = #{ product_category }
           </if>
           <if test="brand_name != 'All'">
           		AND M.BRAND_NAME = #{ brand_name }
           </if>
	</select>
	
	<select id="secondHandSelectList" parameterType="Product_p" resultType="Product_p">
		SELECT P.*, (SELECT COUNT(*)
					 FROM ATTACHMENT
					 WHERE PRODUCT_NO = P.PRODUCT_NO) FILECOUNT,
			  M.BRAND_NAME, A.ATT_NAME
		FROM PRODUCT P, MEMBER M, ATTACHMENT A
		WHERE P.MEMBER_NO = M.MEMBER_NO
           AND P.PRODUCT_NO = A.PRODUCT_NO
		   AND PRODUCT_TYPE = 1
           AND A.ATT_LEVEL = 1
	</select>
	
	<select id="brandSelectTotalContents" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT WHERE PRODUCT_TYPE = 1
	</select>
	
	<select id="secondHandSelectTotalContents" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT WHERE PRODUCT_TYPE = 2
	</select>
	

	<select id="brandNameSelectList" resultType="string">
		SELECT BRAND_NAME FROM MEMBER WHERE BRAND_NAME != '중고'
	</select>

	<!-- 1번 째(Product_no는 시퀀스넘버를 주자)  -->
	<insert id="insertSecondHandProduct" parameterType="Product_p">
		INSERT INTO PRODUCT(PRODUCT_NO, PRODUCT_NAME, PRODUCT_DETAIL, PRODUCT_SIZEINFO, PRODUCT_SIZE, PRODUCT_PRICE, PRODUCT_STOCK_S, PRODUCT_STOCK_M, PRODUCT_STOCK_L, PRODUCT_TYPE, MEMBER_NO, PRODUCT_STATUS)
		VALUES(17, #{product_name}, #{product_detail}, #{product_sizeinfo}, #{product_size}, #{product_price}, #{product_stock_s}, #{product_stock_m}, #{product_stock_l}, #{product_type}, #{member_no}, 'Y')
	</insert>

	<insert id="insertBrandProduct" parameterType="Product_p">
		INSERT INTO PRODUCT(PRODUCT_NO, PRODUCT_NAME, PRODUCT_DETAIL, PRODUCT_SIZEINFO, PRODUCT_SIZE, PRODUCT_PRICE, PRODUCT_STOCK_S, PRODUCT_STOCK_M, PRODUCT_STOCK_L, PRODUCT_TYPE, MEMBER_NO, PRODUCT_STATUS)
		VALUES(17, #{product_name}, #{product_detail}, #{product_sizeinfo}, #{product_size}, #{product_price}, #{product_stock_s}, #{product_stock_m}, #{product_stock_l}, #{product_type}, #{member_no}, 'Y')
	</insert>

	<insert id="insertAttachment" parameterType="Attachment">
		<!-- selectKey -->
		<!-- 다른 테이블의 정보를 외래키로 사용할 경우 참조하는 기능 -->
		<selectKey keyProperty="" resultType="_int" order="BEFORE">
			SELECT PRODUCT_NO FROM DUAL
		</selectKey>
		<!-- att_no 부분도 시퀀스 넘버를 주자 -->
		INSERT INTO ATTACHMENT(ATT_NO, ATT_NAME, ATT_DATE, ATT_LEVEL, ATT_STATUS, PRODUCT_NO)
		VALUES(#{att_no}, #{att_name}, sysdate, #{att_level}, 'Y', #{product_no})
	</insert>


</mapper>
